body{
    display: flex;
    flex-direction: column;
    margin: 0;
}

/*header styles*/
header{
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 100;
    width: 100%;

    background-color: #EEEEEE;
    border: 1px solid #9E9E9E;
}
#search_box{
    background-color: #FFFFFF;
    margin-left: 90px;
    padding-left: 10px;
    height:33px;
    width: 350px;
}
.header_right_area{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%; 
    padding: 10px;
}
.home_button{
    margin-top: 10px;
    background-color: #F7F7F7;
    border: 1px solid #9E9E9E;
    border-radius: 12px;
    margin: 20px;
    margin-bottom: -10px;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.4);
    transition: all 0.2s ease; /* smooth hover */
}
.home_button:hover{
    box-shadow: 0 5px 10px rgba(0,0,0,0.4); 
    transform: translateY(-2px); 
}
.name_box{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 8px;
    background-color: #2C2C2C;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 1px 3px rgba(0,0,0,0.4);
    transition: all 0.2s ease;
    cursor: pointer;
}
.name_box:hover {
    box-shadow: 0 2px 8px rgba(0,0,0,0.4); 
    transform: translateY(-2px); 
}
.dropdown-content {
    display: none;
    position:absolute;
    background-color: #FFFFFF;
    border: 1px solid #9E9E9E;
    margin-top: 50vh;
    padding: 7px;   
    box-shadow: 0 2px 8px rgba(0,0,0,0.4);
    border-radius: 15px;
}
#acc_details{
    background-color: transparent;
    border: none;
    font-size: 14px;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
/*main styles*/
.main_container{
    display: flex;
    column-gap: 10px;
    margin-top: 56px;
    margin-bottom: 10vh;
}
.navigation_pane{
    display: flex;
    position: fixed;
    flex-direction: column;
    row-gap: 10px;
    height: 100vh;
    width: 310px;

    background-color: #EBEBEB;
    border: 1px solid #9E9E9E;
    border-top: none;
}
.course_btns{
    background-color: #F7F7F7;
    border: 1px solid #9E9E9E;
    border-radius: 12px;
    margin: 20px;
    margin-bottom: 0;
    margin-top: 0;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.4);
    transition: all 0.2s ease; 
}
.course_btns:hover {
    box-shadow: 0 5px 10px rgba(0,0,0,0.4); /* bigger shadow on hover */
    transform: translateY(-2px); /* slightly lift up */
}
.externals{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    padding: 20px;
    margin-top: -20px;
}
#externals_heading{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
}
.link{
    display:flex;
    flex-direction: row;
    align-items: center;
    column-gap: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}
a[href]{
    text-decoration: none;
    color: black;
}
.link_img{
    height: 20px;
    width: 20px;
    border: 1px solid #bebebe;
}
.signout{
    display: flex;
    justify-content: center;
    background-color: #F7F7F7;
    border: 1px solid #9E9E9E;
    border-radius: 10px;
    padding: 10px;
    margin: 30px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 1px 3px rgba(0,0,0,0.4);  
    transition: all 0.2s ease;
    font-size: 15px;
    cursor: pointer;
    bottom: 0;
}
.signout:hover {
    box-shadow: 0 5px 10px rgba(0,0,0,0.4); 
    transform: translateY(-2px); 
}

.main_content{
    width: 460vh;
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.no_material{
    font-family: Arial, Helvetica, sans-serif;
}

/*footer styles*/
footer{
    display: flex;
    position:fixed;
    bottom: 0;
    width: 100%;
    justify-content: center;

    background-color: #EEEEEE;
    border:1px solid #9E9E9E;
}
#footer_text{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 0.8rem;
}

.detailBox{
    display: flex;
    width: 100%;
    height: 100;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    border: 1px solid;
    border-color: #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.4);
    transition: all 0.2s ease;
}
 .detailBox:hover {
    box-shadow: 0 5px 10px rgba(0,0,0,0.4); /* bigger shadow on hover */
    transform: translateY(-2px); /* slightly lift up */
 }
