/*Announcement pane*/
.announcement_pane{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
    background-color: #F1F1F1;
    border: 2px solid #D9D9D9;
    border-radius: 41px;
    padding:10px;
    margin: 15px;
    width: 100%;
}
.announcement{
    background-color: #FFFFFF;
    border: 2px solid #D9D9D9;
    border-radius: 41px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.4);
}
.announce_img{
    height: 32vh;
    border-radius: 41px;
    border: 2px solid #9E9E9E;
}