header{
    display: flex;
    justify-content: center;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.signin_form{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50vh;
    padding: 10px;

    box-shadow: 0 2px 8px rgba(0,0,0,0.4);
    border-radius: 10px;
    background-color: #F9F9F9;
}
.form_head{
    font-family: Arial, Helvetica, sans-serif;
}
.input_box{
    width: 100  ;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
}
.btn{
    width: 106;
    padding: 10px;
    background-color: #2C2C2C;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;

    box-shadow: 0 1px 3px rgba(0,0,0,0.4);
    transition: all 0.2s ease;
}
.btn:hover{
    box-shadow: 0 2px 8px rgba(0,0,0,0.4); 
    transform: translateY(-2px); 

}

#invalid{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    display: none;
}
#unfilled{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    display: none;
}

.demo_info{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    margin-left: 50px;
    margin-right: -290px;
    color:red;
}
